In [3]:

import pandas as pd

df = pd.read_excel('EPQ.xlsx')
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 81,Unnamed: 82,Unnamed: 83,Unnamed: 84,Unnamed: 85,Unnamed: 86,Unnamed: 87,Unnamed: 88,Unnamed: 89,Unnamed: 90
0,1,女,1,1,1,1,1,1,1,1,...,1,0,1,1,0,1,1,1,1,1
1,2,男,4,1,0,1,1,1,1,1,...,0,0,5,1,1,1,1,1,1,1
2,3,男,1,1,0,1,0,1,0,1,...,1,0,1,1,1,1,0,1,0,1
3,4,男,3,0,0,1,1,1,1,1,...,1,1,1,0,1,1,1,1,1,0
4,5,男,1,0,1,1,1,1,1,1,...,1,1,1,0,0,1,1,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
266,267,男,5,0,0,1,1,1,1,1,...,1,0,5,0,1,1,1,1,1,0
267,268,男,5,0,0,1,1,1,1,1,...,1,0,5,0,1,1,1,1,1,0
268,268,男,5,0,0,1,1,1,1,1,...,1,0,5,0,1,1,1,1,1,0
269,269,男,5,1,0,1,1,1,1,1,...,0,0,1,1,1,1,1,1,1,1
270,270,男,3,1,0,1,1,0,1,1,...,0,1,0,1,1,1,1,0,1,1

In [4]:
df.describe()

,Unnamed: 0,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 81,Unnamed: 82,Unnamed: 83,Unnamed: 84,Unnamed: 85,Unnamed: 86,Unnamed: 87,Unnamed: 88,Unnamed: 89,Unnamed: 90
count,271.000000,271.000000,271.000000,271.000000,271.000000,271.000000,271.000000,271.000000,271.000000,271.000000,...,271.000000,271.000000,271.000000,271.000000,271.000000,271.000000,271.000000,271.000000,271.000000,271.000000
mean,135.988930,3.568266,0.612546,0.077491,0.933579,0.826568,0.907749,0.959410,0.926199,0.103321,...,0.630996,0.228782,3.372694,0.612546,0.922509,0.933579,0.826568,0.907749,0.959410,0.612546
std,78.356237,1.822175,0.488070,0.267863,0.249477,0.379321,0.289915,0.197704,0.261930,0.304941,...,0.483428,0.420826,2.220575,0.488070,0.267863,0.249477,0.379321,0.289915,0.197704,0.488070
min,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,68.500000,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,...,0.000000,0.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000
50%,136.000000,4.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,...,1.000000,0.000000,5.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
75%,203.500000,5.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,...,1.000000,0.000000,5.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
max,270.000000,6.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,5.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [5]:
df.dropna()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 81,Unnamed: 82,Unnamed: 83,Unnamed: 84,Unnamed: 85,Unnamed: 86,Unnamed: 87,Unnamed: 88,Unnamed: 89,Unnamed: 90
1,2,男,4,1,0,1,1,1,1,1,...,0,0,5,1,1,1,1,1,1,1
2,3,男,1,1,0,1,0,1,0,1,...,1,0,1,1,1,1,0,1,0,1
3,4,男,3,0,0,1,1,1,1,1,...,1,1,1,0,1,1,1,1,1,0
4,5,男,1,0,1,1,1,1,1,1,...,1,1,1,0,0,1,1,1,1,0
5,6,女,3,0,0,1,1,1,1,1,...,0,0,5,0,1,1,1,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
266,267,男,5,0,0,1,1,1,1,1,...,1,0,5,0,1,1,1,1,1,0
267,268,男,5,0,0,1,1,1,1,1,...,1,0,5,0,1,1,1,1,1,0
268,268,男,5,0,0,1,1,1,1,1,...,1,0,5,0,1,1,1,1,1,0
269,269,男,5,1,0,1,1,1,1,1,...,0,0,1,1,1,1,1,1,1,1
270,270,男,3,1,0,1,1,0,1,1,...,0,1,0,1,1,1,1,0,1,1